<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="methods" name="Suite">
  <test thread-count="3" parallel="methods" name="Test">
    <classes>
      <!-- all test cases are present in the class new testcases-->
      <class name="com.seleniumtesting.seleniumMavenProject.seleniumTestDemo"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
